@import "../../scss/variable.scss";

body {
  background-color: #f8f9fa;
  .main-nav {
    background-color: #fff;
    padding-bottom: 0px;
    .main-logo {
      @media only screen and (max-width: 320px) {
        max-width: 200px;
      }

      @media only screen and (min-width: 321px) {
        max-width: 235px;
      }
    }
    .nav-item {
      font-weight: 700;
      border-bottom: 5px solid transparent;
      padding: 12px 16px;
      .nav-link {
        margin-top: 5px;
        &:hover {
          color: $primary;
        }
      }
      &.active {
        border-bottom: 5px solid $primary;
      }
    }
  }

  .btn-primary {
    background-color: $primary !important;
    border-color: $primary;
    &:hover {
      background-color: #1667b2 !important;
      border-color: #1667b2;
    }
    &:disabled {
      background-color: rgb(170, 170, 170) !important;
      border-color: rgb(170, 170, 170);
      color: white !important;
    }
  }
  .btn-outline-primary {
    color: $primary !important;
    &:hover {
      background-color: $primary !important;
      border-color: #1667b2;
      color: white !important;
    }
  }
}
